<!DOCTYPE html>
<html lang="en">
  	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	    <title>Registry Meningitis</title>
	
	</head>

	<body>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>

<div style="text-align: center">
        <h3>Registry Meningitis</h3>
        <table class="table">
            <thead>
            <tr>
                <th>No </th>
                <th>Nama</th>
                <th>Usia</th>
                <th>Gender</th>
                <th>TTL</th>
                <th>Dokter</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                {% for i in posts %}
                    <tr>
                        <th>{{ forloop.counter}}</th>
                        <td>{{ i.nama }}</td>
                        <td>{{ i.usia }}</td>
                        <td>{{ i.gender }}</td>
                        <td>{{ i.ttl }}</td>
                        <td>{{ i.dokter }}</td>

                        <td><a href="{% url 'delete_activity' i.pk %}">
                            <button class="btn btn-primary"> Delete</button>
                        </a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


